<div class="flex-auto p-6 sm:p-10">
    <div class="w-full">
        <form class="flex flex-col w-full mt-8 p-8 space-y-8 rounded-2xl shadow bg-card" [formGroup]="searchForm">
            <div class="flex flex-row space-x-8">
                <customer-search name="name" [gender]="gender"></customer-search>
            </div>
            <!-- <div class="flex flex-row space-x-8">
                <passport-search></passport-search>
            </div> -->
            <!-- <div class="flex flex-row space-x-8">
                <payment-info-search></payment-info-search>
            </div> -->
            <div class="flex items-center justify-end w-full mt-8">
                <button (click)="reset()" type="button" mat-button>Reset
                </button>
                <button class="ml-2" (click)="search()" color="primary" type="button" mat-flat-button>Search
                </button>
            </div>
        </form>
        <div class="mat-elevation-z8 mt-8">
            <table mat-table class="w-full h-full" [dataSource]="searchResult">
                <ng-container matColumnDef="profileId">
                    <th mat-header-cell *matHeaderCellDef> Profile ID </th>
                    <td mat-cell *matCellDef="let x" (click)="search()"> <a routerLink="/profile">{{x.profileId}}</a> </td>
                </ng-container>

                <ng-container matColumnDef="profileType">
                    <th mat-header-cell *matHeaderCellDef> Profile Type </th>
                    <td mat-cell *matCellDef="let x"> {{x.profileType}} </td>
                </ng-container>

                <ng-container matColumnDef="profileStatus">
                    <th mat-header-cell *matHeaderCellDef> Profile status </th>
                    <td mat-cell *matCellDef="let x"> {{x.status}} </td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let x"> {{x.customer.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="middleName">
                    <th mat-header-cell *matHeaderCellDef> Middle Name </th>
                    <td mat-cell *matCellDef="let x"> {{x.customer.middleName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let x"> {{x.customer.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="passportId">
                    <th mat-header-cell *matHeaderCellDef> Passport ID </th>
                    <td mat-cell *matCellDef="let x"> {{x.passport.id}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>

<!-- <p>{{obj.name}}</p>
<p>{{obj.gender}}</p> -->